@{
    ViewBag.Title = "რეპორტები";
}

<h2>რეპორტები</h2>

<div class="jumbotron">
    <p>
        @Html.ActionLink("პორტფელის ანალიზი", "PortfolioAnalize")
        <br />
        @Html.ActionLink("შემოსავლის ანალიზი", "IncomeAnalize")
        <br />
        @Html.ActionLink("სესხის გაცემების რეპორტი", "LoanIssueDaily")
    </p>
</div>