@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-2">
        <img src="http://businesscredit.ge/img/logo_flat_ULTIMO_CMYK-1.png" alt="Business Credit Logo" />
    </div>
</div>