@{
    if (User.Identity.Name == "nkandelaki@businesscredit.ge" || User.Identity.Name == "accounting@bc.co")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    ViewBag.Title = "Home Page";
}

<style>
    .height-responsive {
        width: 100%;
        display: block;
        height: 100%;
    }
</style>

<div class="row">
    <div class="jumbotron">
        <img class="height-responsive" src="http://businesscredit.ge/img/logo_flat_ULTIMO_CMYK-1.png" alt="Business Credit Logo" />
    </div>
</div>