<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BusinessCredit.LoanManagementSystem.Web-20150510083312.mdf;Initial Catalog=aspnet-BusinessCredit.LoanManagementSystem.Web-20150510083312;Integrated Security=True" providerName="System.Data.SqlClient" />

    <add connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\BusinessCredit\BusinessCredit.LoanManagementSystem.Web\App_Data\BusinessCredit.LoanManagementSystem.Web_Head.mdf;Initial Catalog=BusinessCredit.LoanManagementSystem.Web_Head;Integrated Security=True" name="Head_BusinessCreditDbConnectionString" providerName="System.Data.SqlClient" />
    <add name="Isani_BusinessCreditDbConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\BusinessCredit\BusinessCredit.LoanManagementSystem.Web\App_Data\BusinessCredit.LoanManagementSystem.Web_Isani.mdf;Initial Catalog=BusinessCredit.LoanManagementSystem.Web_Isani;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Okriba_BusinessCreditDbConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\BusinessCredit.LoanManagementSystem.Web_Okriba.mdf;Initial Catalog=BusinessCredit.LoanManagementSystem.Web_Okriba;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Lilo_BusinessCreditDbConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\BusinessCredit\BusinessCredit.LoanManagementSystem.Web\App_Data\BusinessCredit.LoanManagementSystem.Web_Lilo2.mdf;Initial Catalog=BusinessCredit.LoanManagementSystem.Web_Lilo;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Eliava_BusinessCreditDbConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\BusinessCredit.LoanManagementSystem.Web_1_Eliava.mdf;Initial Catalog=BusinessCredit.LoanManagementSystem.Web_1_Eliava;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Vagzali_BusinessCreditDbConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\BusinessCredit\BusinessCredit.LoanManagementSystem.Web\App_Data\BusinessCredit.LoanManagementSystem.Web_Vagzali.mdf;Initial Catalog=BusinessCredit.LoanManagementSystem.Web_Vagzali;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\BusinessCredit\BusinessCredit.LoanManagementSystem.Web\App_Data\BusinessCredit.LoanManagementSystem.Web_Sandro_Head.mdf;Initial Catalog=BusinessCredit.LoanManagementSystem.Web_Sandro_Head;Integrated Security=True" name="Sandro_Head_BusinessCreditDbConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>